#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Component Tests
src/test/ruby/components/cucumber_cmd_result
src/test/ruby/components/Gemfile.lock
src/test/ruby/components/rerun.txt
src/test/ruby/components/tshield.log
src/test/ruby/components/vendor/
src/test/ruby/components/.bundle/
